[package]
name = "cosmic-workspaces"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.75"
calloop = "0.12.3"
cctk = { package = "cosmic-client-toolkit", git = "https://github.com/pop-os/cosmic-protocols" }
cosmic-comp-config = { git = "https://github.com/pop-os/cosmic-comp" }
env_logger = "0.10.0"
futures-channel = "0.3.25"
gbm = "0.14.0"
libcosmic = { git = "https://github.com/pop-os/libcosmic", default-features = false, features = ["tokio", "wayland"] }
cosmic-config = { git = "https://github.com/pop-os/libcosmic" }
memmap2 = "0.9.0"
tokio = "1.23.0"
wayland-protocols = "0.31.0"
zbus = { version = "3.7.0", default-features = false, features = ["tokio"] }

[profile.dev]
# Not usable at opt-level 0, at least with software renderer
opt-level = 1
