#!/usr/bin/make -f

CLEAN ?= 1
VENDOR ?= 1

%:
	dh $@

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	just clean
endif
ifeq ($(VENDOR),1)
	if ! ischroot; then \
		just vendor; \
	fi
endif

override_dh_auto_build:
ifeq ($(VENDOR),1)
	env CARGO_HOME="$$(pwd)/target/cargo" just build-vendored
else
	env CARGO_HOME="$$(pwd)/target/cargo" just build-release
endif

override_dh_auto_install:
	just rootdir=debian/cosmic-workspaces prefix=/usr install
