[Desktop Entry]
Name=Workspaces
Name[ar]=مَسَاحَاتُ العَمَل
Name[bg]=Пространства
Name[cs]=Pracovní plochy
Name[zh_CN]=工作区
Name[hu]=Munkaterületek
Name[pl]=Obszary robocze
Name[pt]=Áreas de Trabalho
Name[ru]=Обзор
Name[sk]=Pracovné plochy
Name[sv]=Arbetsytor
Name[it]=Spazi di lavoro
Name[uk]=Простори
Comment=
Type=Application
Exec=cosmic-workspaces
Terminal=false
Categories=COSMIC;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=COSMIC;ICED;
Keywords[ar]=كوزمِك;آيسِد;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicWorkspaces
StartupNotify=true
NoDisplay=true
